.navbarContainer #login {
    margin-left: 900px;
}


.anticon svg {
    margin-top: -5px;
}

.anticon svg path {
    stroke: white;
    stroke-width: 50px;
}

.navbarContainer ul {
    background-color: #48435C;
    color:white;
}
.navbarContainer span a {
    color:white !important;
}

.navbarContainer #dropDown {
    font-weight: bold;
}

.navbarContainer span > a{
    font-weight: bold;
}

.navbarContainer li:hover a{
    color:#02FE8F !important;
}

.navbarContainer li:hover svg{
    color:#02FE8F !important;
    stroke: #02FE8F !important;
}

.navbarContainer li:hover {
    color: white !important;
    border-bottom-color: #02FE8F !important;
}

.navbarContainer .ant-menu-submenu-title:hover {
    color:#02FE8F !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: #02FE8F  !important;
}

.ant-menu-item a:hover {
    color: #02FE8F !important;
}