#artistInput {
    display: flex;
    width: 600px; 
}
#artistInput > div:nth-child(2) { flex: 1; }


#playlistPage-row {
    margin-top: 50px;
    margin-bottom: 100px;
}

#form-container {
    margin-left: 300px;
    width: 400px;
}

#searchArtist {
    margin-bottom: 20px;
    width: 400px;
    height: 45px;
}

#searchArtist span {
    height: 100%;
}

#searchArtist svg {
    margin-top: 10px;
}

#pickArtists {
    width: 100%;
}

#create-button {
    margin-left: 50px;
    height: 45px;
    background-color: #362b69;
    border-color: white;
    font-weight: 600;
    border-radius: 7px;
}

#create-button:hover {
    background-color: #997799;
}

.ant-input-affix-wrapper:hover {
    border-color: #997799 !important;
    box-shadow: none;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
    border-color: #997799 !important;
    box-shadow: none;
}

#searchArtistInput {
    font-weight: 500;
    color: #5A5766;
}

#iframe-row {
    margin-top: 100px;
}

#iframe-container {
    margin-left: 340px;
}

#pickArtists .ant-select-selector:hover{
    border-color: #997799 !important;
    box-shadow: none;
}

#playlist-properties {
    width: 300px;
    margin-left: 40px;
}

#name-input {
    width: 245px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
}

#name-input:hover {
    border-color: #997799 !important;
}

#description-input:hover {
    border-color: #997799 !important;
    box-shadow: none;
}

#description-input {
    width: 300px 
}