#footer-row {
	padding-top: 3em;
	position: relative;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: #362b69;
	.ant-col {
		margin: auto;
		margin-top: 15px;
		margin-bottom: 15px;
		font-weight: 500;
		width: 100%;
	}
}