h2{
    color: #997799
}
h3{
    color: #5A5766
}
#artistInput {
    display: flex;
    width: 600px; 
}
#artistInput > div:nth-child(2) { flex: 1; }


#playlistPage-row {
    margin-top: 50px;
    margin-bottom: 100px;
}

#form-container {
    margin-left: 300px;
    width: 400px;
}

#searchArtist {
    margin-bottom: 20px;
    width: 400px;
    height: 45px;
}

#pickArtists {
    width: 100%;
}
#submit-button{
    height: 45px;
    background-color: #997799;
    border-color: white;
    font-weight: 600;
    border-radius: 7px;
}

#button-link{
    height: 45px;
    background-color: #02FE8F;
    border-color: white;
    font-weight: 600;
    border-radius: 7px;
}
#create-button {
    margin-left: 50px;
    height: 45px;
    background-color: #362b69;
    border-color: white;
    font-weight: 600;
    border-radius: 7px;
}

#create-button:hover {
    background-color: rgba(153, 119, 153, 0.7);
}
#checkboxList{
    text-align: center;
    font-size: large
}
.ant-btn-primary {
    background-color: #997799 !important;
    border-color: #997799 !important;
    height: 100%;
}

.ant-input-search-enter-button input:hover, .ant-input-search-enter-button input:focus {
    border-color: #997799 !important;
    box-shadow: none;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #02FE8F !important;
}

.ant-input:hover {
    border-color: #997799 !important;
}

.ant-input-affix-wrapper:hover {
    border-color: #997799 !important;
    box-shadow: none;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
    border-color: #997799 !important;
    box-shadow: none;
}

#searchArtistInput {
    font-weight: 500;
    color: #5A5766;
    height: 100%;
}

.ant-input-group-wrapper {
    height: 100%;
}

.ant-input-group {
    height: 100%;
}

#iframe-row {
    margin-top: 100px;
}

#iframe-container {
    margin-left: 340px;
}

#iframe-concert-container {
    margin-left: auto;
    margin-right: auto;
}

#pickArtists .ant-select-selector:hover{
    border-color: #997799 !important;
    box-shadow: none;
    cursor: pointer;
}

#pickArtists .ant-select-selection-placeholder:hover {
    cursor: pointer;
}

#playlist-properties {
    width: 300px;
    margin-left: 40px;
}

#name-input {
    width: 245px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    box-shadow: none;
}

#name-input:hover {
    border-color: #997799 !important;
}

#name-input:focus {
    border-color: #997799 !important;
}

#description-input:hover {
    border-color: #997799 !important;
    box-shadow: none !important;
}

#description-input:focus {
    border-color: #997799 !important;
    box-shadow: none !important;
}

#description-input {
    width: 300px 
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px 000 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: rgba(153, 119, 153, 0.2) !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
    color: #646363;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #646363;
}

.ant-select-focused.ant-select-multiple .ant-select-selector {
    border-color: #997799 !important;
    box-shadow: none !important;
}

.ant-select-multiple .ant-select-selection-item {
    background-color: rgba(2, 254, 143, 0.1);
}

@media only screen and (max-width: 500px) {
    #form-container {
        margin-left: 0px;
        width: 100% !important;
    }

    #artistInput {
        width: 100% !important;
        display: block;
    }

    #searchArtist {
        width: 100%;
    }

    #create-button {
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #iframe-row {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
    }

    #iframe-container {
        margin-left: 0px;
    }
    #iframe-concert-container {
        margin-left: 0px;
    }

    #playlist-properties {
        margin: auto;
    }

    #name-input {
        margin-left: auto;
    }

    #playlistPage-row {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    iframe {
        width: 100%; 
    }
}


@media screen and (min-width:410px) and (max-width:505px) {
    .navbarContainer {
        display: flex;
    }

}

 @media screen and (min-width:510px) and (max-width:1024px) {
    #form-container {
        margin-left: 0px;
        width: 100%;
    }

    #artistInput {
        width: 50%;
        margin: auto;
    }

    #pickArtists {
        width: 50%;
        margin: auto;
    }

    #iframe-row {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }

    #iframe-container {
        margin-left: 0px;
    }
    #iframe-concert-container {
        margin-left: 0px;
    }

    #playlist-properties {
        margin: auto;
    }
}
